<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @reply.body %>
</p>

<p>
  <strong>Count:</strong>
  <%= @reply.count %>
</p>

<%= link_to 'Edit', edit_answer_reply_path(@answer,@reply) %> |
<%= link_to 'Back', question_path(@answer.question) %>
