<div class="newest_questions">
	<h3>Latest questions</h3>

		<table class="box shadow_effect">
			<% @questions.limit(10).each do |question| %>
				<tr class="<%= cycle('odd', 'even') -%>">
					<td>
						<%= link_to question.title, question %>
					</td>
				</tr>
			<% end %>
		</table>
		<%= link_to "New Question", new_question_path, :class => 'btn btn-default', :role => 'button' %>
</div>
<div class="newest_questions semi_questions">
	<h3>Popular questions</h3>
	<div >
		<table class="box shadow_effect">
			<% get_popular_questions.each do |question| %>
				<tr class="<%= cycle('odd', 'even') -%>">
					<td>
						<%= link_to question.title, question %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<div class="newest_questions semi_questions">
	<h3>Popular tags</h3>
	<div >
		<table class="box shadow_effect">
			<% @questions.limit(5).each do |question| %>
				<tr class="<%= cycle('odd', 'even') -%>">
					<td>
						<%= link_to question.tags.first, question %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>


