<div class="question">
	<h1><%= @question.title %></h1>
	<div class="body">
		<p><%= @question.body %></p>
	</div>
</div>

<div class="answers">
	<div class="answer" >
		<% @question.answers.each do |answer| %>
			<%= answer.body %>
			<% if can? :update, answer %>
				<%= link_to 'Edit', '#' %> |
			<% end %>
		<% end %>
	</div>
</div>

<% if can? :update, @question %>
	<%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<% if can? :destroy, @question %>
	<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', questions_path %>
