<div class="new_answer_wrapper">
	<div class="answer_header_wrapper">
		<div class="answer_header">
			<h3>
				<%= @question.title %>
			</h3>
		</div>
		<div class="answer_buttons">
			<%= link_to 'Answer question', '#', :id => "answer_btn", :class => 'btn btn-default', :role => 'button' %>
			<% if can? :destroy, @question %>
				<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
			<%= link_to 'Back', questions_path, :class => 'btn btn-default', :role => 'button' %>
		</div>
	</div>


	<div class="box shadow_effect">
		<div class="answer_element_wrapper odd" >
			<% author = @question.author_to_question %>
			<div class="posted_by">
				<div class="user_image"></div>
				<p><%= link_to author.username, user_path(author.username) %></p>
				<p>Answers: <%= author.answers_made.size %></p>
			</div>


			<div class="answer_body">
				<p><%= @question.body %></p>
				<% if can? :update, @question %>
					<%= link_to 'Edit', edit_question_path(@question) %>
				<% end %>
			</div>
		</div>

		<% @question.answers.each do |answer| %>
			<div class="answer_element_wrapper <%= cycle('even', 'odd') %>" >
				<% author = answer.author_to_answer %>
				<div class="posted_by">
					<div class="user_image"></div>
					<p><%= link_to author.username, user_path(author.username) %></p>
					<p>Answers: <%= author.answers_made.size %></p>
				</div>


				<div class="answer_body">
					<p><%= answer.body %></p>
					<% if (answer.replies.length == 0) && (author.username != current_user.username)%>
							<%= link_to 'reply', answer_replies_path(answer), :class => 'reply_btn', :value => answer._id %>
						<% end %>
					<% if can? :update, answer %>
						<%= link_to 'Edit', edit_answer_path(answer) %>
					<% end %>
				</div>
			</div>
			<% answer.replies.each do |reply| %>
				<div class="reply_element_wrapper <%= cycle('even', 'odd') %>" >
					<% author = reply.author %>
					<div class="posted_by">
						<div class="user_image"></div>
						<p><%= link_to author, user_path(author) %></p>
					</div>
					<div class="answer_body">
						<p><%= reply.body %></p>
						<% if (((reply.count == answer.replies.length) || (answer.replies.length == 0)) && (author != current_user.username))%>
							<%= link_to 'reply', answer_replies_path(answer), :class => 'reply_btn', :value => answer._id %>
						<% end %>
						<% if can? :update, reply %>
							<%= link_to 'Edit', edit_answer_reply_path(answer,reply) %>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
	</div>
</div>

<div id="answer_form_container">
	<%= form_tag("/answers", method: "post") do %>
		<%= label(:answer, :body, "New answer") %>
		<%= text_area(:answer, :body) %>
		<%= hidden_field(:answer, :question,:value => @question._id) %>
		<%= submit_tag("Post answer", :class => 'btn btn-default') %>
	<% end %>
</div>
<div id="answer_reply_form_container">
	<%= form_tag("/answers/reply", method: "post") do %>
		<%= label(:reply, :body, "New reply") %>
		<%= text_area(:reply, :body) %>
		<%= submit_tag("Post reply", :class => 'btn btn-default') %>
	<% end %>
</div>
