<div class="question">
	<h1><%= @question.title %></h1>
	<div class="body">
		<p><%= @question.body %></p>
	</div>
</div>

<div class="answers">
		<% @question.answers.each do |answer| %>
			<div class="answer" >
				<%= answer.body %><br />
				<% if can? :update, answer %>
					<%= link_to 'Edit', edit_answer_path(answer)%>
				<% end %>
			</div>
		<% end %>
</div>

<div class="answer_form_container" id="answer_form_container">
	<%= form_tag("/answers", method: "post") do %>
		<%= label(:answer, :body, "Answer") %>
		<%= text_area(:answer, :body) %>
		<%= hidden_field(:answer, :question,:value => @question._id) %>
		<%= submit_tag("Post answer") %>
	<% end %>
</div>

<% if can? :update, @question %>
	<%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>
<%= link_to 'Answer question', '#', :id => "answer_btn" %>

<% if can? :destroy, @question %>
	<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', questions_path %>
